.leaderboard {
  height: 100vh;
  width: 100vw;
  padding: var(--container-padding);
  padding-block-start: var(--container-padding-block-start);
}

.leaderboard__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.leaderboard__container > h3 {
  font: var(--page-header);
}

.leaderboard__container > h4 {
  font: var(--section-header);
  margin-top: -0.5em;
}

.leaderboard__container table {
  padding: 4rem;
}

.leaderboard__container table thead tr th {
  font-weight: bold;
  font-size: 1.2rem;
}

.leaderboard__container table tbody tr td {
  border-bottom: 1px solid #ccc;
  padding-block: 1em;
}

.leaderboard__container table tbody tr td:first-of-type {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 20px;
}
