html {
  width: 100%;
  background-image: linear-gradient(
    to left top,
    #1f261f,
    #2d382d,
    #3d4b3b,
    #4d5f49,
    #5e7358
  );
  background-color: #5e7358;
  background-repeat: no-repeat;
  background-size: fill;
}
