.newQuestion {
  height: 100vh;
  width: 100vw;
  padding: var(--container-padding);
  padding-block-start: var(--container-padding-block-start);
}

.newQuestion .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container h3 {
  font: var(--page-header);
}

.container h4 {
  font: var(--section-header);
  margin-top: -0.5em;
}

.container form {
  padding: 4rem;
}

.container form label {
  font: var(--subsection-header);
  text-align: center;
  margin-bottom: 0.4rem;
}

.container form input {
  padding: 0.2em;
}

.newQuestion .container form input:first-of-type {
  margin-bottom: 1em;
}

.newQuestion .container form input:focus-within {
  outline: 5px solid #f2b138;
  border-radius: 0.2em;
}

.newQuestion .container form button {
  margin: 2em;
}

.newQuestion .container form button {
  padding-inline: 1.4rem;
  border: 2px solid darkslategray;
  border-radius: 0.6em;
  background: #fff;
}

.newQuestion .container form button:hover {
  background-color: darkslategray;
  color: #fff;
  cursor: pointer;
}

.newQuestion .container form button:disabled {
  pointer-events: none;
  background-color: none;
  border: none;
}
