.question {
  height: 100vh;
  padding: var(--container-padding);
  padding-block-start: var(--container-padding-block-start);
}

.question__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.question h3 {
  font: var(--page-header);
}

.question h4 {
  font: var(--section-header);
}

.question__container img {
  width: 120px;
  margin: 0 auto;
}

.question form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.question form p {
  position: relative;
  display: flex;
  flex-flow: column;
  flex: 1 1 45%;
}

.question form p label {
  font: var(--subsection-header);
}

.question form p > input,
.question form p > label {
  padding: 1.2em;
}

.question form p > input {
  background-color: #fff;
  border: none;
  border: 1px solid #ddd;
}

.question form p > input:hover {
  cursor: pointer;
  color: #fff;
  background-color: var(--hover-color);
  border-radius: 1.5em;
}

.question form p > input:active {
  font-weight: bold;
  background-color: slategrey;
}

.question .selected {
  background-color: darkslategrey;
  color: #fff;
  border-radius: 1.5em;
}

.question form button {
  margin-top: 3rem;
  flex: 0 0 10em;
  border: 2px solid darkslategray;
  border-radius: 0.6em;
  background: #fff;
}

.question form button:hover {
  background-color: darkslategray;
  color: #fff;
  cursor: pointer;
}

.question form button:disabled {
  pointer-events: none;
  background-color: none;
  border: none;
}
