header.header {
  background-color: #1f261f;
  width: 100vw;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-family: "Fira Sans", sans-serif;
}

header.header nav.nav {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

header.header nav.nav .navLink {
  text-decoration: none;
  color: #fff;
}

header.header nav.nav .navLink:hover {
  border-bottom: 0.2em solid #f2b138;
  margin-top: 0;
  padding-bottom: 0;
}

header.header .activeUser {
  display: inline-block;
}

header.header .activeUser > * {
  margin: 0 1rem;
}

.activeUser button {
  border: none;
  width: 7rem;
  border-radius: 0.8rem;
  padding: 2px 0;
  background-color: #fff;
  color: #1f261f;
}

.activeUser button:hover {
  background-color: #f2b138;
  cursor: pointer;
}
