header.header {
  width: 100vw;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 1em 1em;
  font-family: "Fira Sans", sans-serif;
}

header.header nav.nav {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

header.header nav.nav .navLink {
  text-decoration: none;
  color: #000;
  padding: 0.2rem;
}

header.header nav.nav .navLink:hover {
  border-bottom: 0.2em solid #000;
  margin-top: 0;
  padding-bottom: 0;
}

header.header .activeUser {
  display: inline-block;
  line-height: 1rem;
}

header.header .activeUser > * {
  margin: 0 1rem;
}
