.dashboard {
  width: 100vw;
  padding: 2em;
}

.questionsList {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4em;
  list-style-type: none;
  list-style: none;
  gap: 20px;
}

.questionsList li {
  flex: 0 1 18em;
}

.loadingBar {
  width: 100vw;
}
