.question {
  height: 100vh;
  width: 100vw;
  padding: var(--container-padding);
  padding-block-start: var(--container-padding-block-start);
}

.question__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.question__container > h3 {
  font: var(--page-header);
}

.question__container > h4 {
  font: var(--section-header);
}

.selected {
  border: 2px solid green;
}

input:disabled {
  color: black;
}

.answer {
  color: green;
}
