.question {
  height: 100%;
  margin: 5em 10em;
}
.question > h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serifm sans-serif;
}

.question form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  gap: 20px;
}

.question form p {
  position: relative;
  display: flex;
  flex-flow: column;
  flex: 1 0 45%;
  border: 1px solid #ddd;
}

.question form p > input,
.question form p > label {
  padding: 1.2em;
}

.question form p > input {
  background-color: #fff;
  border: none;
  border-top: 1px solid #ddd;
}

.question form p > input:hover {
  cursor: pointer;
  color: #fff;
  background-color: darkslategray;
}

.question form p > input:active {
  font-weight: bold;
  background-color: slategrey;
}

.question .selected {
  background-color: darkslategrey;
  color: #fff;
}

.question form button {
  flex: 0 0 10em;
  border: 2px solid darkslategray;
  border-radius: 0.6em;
  background: #fff;
}

.question form button:hover {
  background-color: darkslategray;
  color: #fff;
  cursor: pointer;
}

.question form button:disabled {
  pointer-events: none;
  background-color: none;
  border: none;
}
