.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.login__container {
  background: #fff;
  background-size: cover;
  border-radius: 1em;
  padding: 4em;
  width: 15em;
  height: 10em;
  text-align: center;
  box-shadow: #ccc 4px 4px 10px 2px;
}

.login__container h3 {
  margin-top: -1.4em;
  font-size: 1.8rem;
  color: #005070;
  font-family: "Fira Sans", sans-serif;
}

.login__container p {
  margin: 0.4em 0;
}

.login__form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.login__form__userSelect {
  position: relative;
}

.login__form__userSelect:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.login__form select {
  border: none;
  padding: 0.4em 2.6em;
  border-radius: 0.5em;
  box-shadow: 1px 1px 2px 0;
}

.login__form select-items {
  color: red;
}

.login__form button {
  font-family: "Fira Sans", sans-serif;
  color: green;
  background-color: white;
  border-radius: 0.4em;
  padding: 0.4em;
  border: 1px solid green;
}

.login__form button:active {
  border: none;
  background: #ddd;
}
