.login {
  height: 100vh;
  width: 100vw;
  padding: var(--container-padding);
  padding-block-start: var(--container-padding-block-start);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login h3 {
  font: var(--page-header);
}

.login p {
  font: var(--section-header);
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.login form {
  height: 20rem;
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.login form select:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.login form select {
  border: none;
  padding: 0.4em 2.6em;
  border-radius: 0.5em;
  box-shadow: 1px 1px 2px 0;
}

.login form button {
  width: 6rem;
  margin: 0 auto;
  font-family: "Fira Sans", sans-serif;
  color: green;
  background-color: white;
  border-radius: 0.4em;
  padding: 0.4em;
  border: 1px solid green;
}

.login__form button:active {
  border: none;
  background: #ddd;
}
