.question-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.6em;
  box-shadow: 0 2px 3px 0;
  padding: 2.5em;
}

.question-card__author {
  font-size: 1.4rem;
  font-weight: 600;
}

.question-card__date {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  margin: 0.4em 0;
}
